

/*===== Colores =====*/
:root{
    
    --main-color: #3f51a5;
	
    --first-color: #4070F4;
	
	--second-color: #eeeeee;
	--nav-second-color: #080303;

	--primary-color: #e847f7;

	--icon-color:#fff;
	
	--themeDotBorder:#fff;
}