
:root{
	--main-color: #46344E;
	
	--first-color: #4070F4;
	--link-first-color: #eeeeee;
	
	--second-color: #eeeeee;
	--nav-second-color: #4070F4;
	
	--primary-color: #e847f7;
	
	--icon-color:#eeeeee;
	
	--themeDotBorder:#fff;
}